:root {
  --main-background-color: #f5f8fa;
  --second-main-background-color: #f2f8fc;
  --primary-hover-color: #ff903c;
}
body {
  background-color: var(--second-main-background-color);
}
.logo {
  height: 3rem;
  width: 11rem;
}

/* NavBar CSS */
.navbar {
  background-color: var(--main-background-color);
}
.nav-link {
  font-weight: 600;
  font-size: 1.2rem;
  transition: all ease 0.2s;
}
.nav-link:hover {
  color: var(--primary-hover-color);
}
.nav-item {
  margin-right: 1rem;
}
.btn-dark {
  padding: 0.5rem 2rem;
  font-size: 1.25rem;
  font-weight: 500;
  margin-right: 2rem;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Header Dropdown CSS*/
.dropdown:hover > .dropdown-menu {
  display: block;
}
.dropdown > .dropdown-toggle:active {
  pointer-events: none;
}
.dropdown-menu {
  border: none;
  padding: 0.5rem;
  box-shadow: rgb(244 155 8 / 20%) 0px 5px 15px;
  background-color: var(--main-background-color);
}
.dropdown-menu li a svg {
  padding: 5px;
  border-radius: 50%;
  background-color: #ff903c27;
  color: var(--primary-hover-color);
}
.dropdown-menu li a {
  transition: all ease 0.2s;
}
.dropdown-menu li a:hover {
  color: var(--primary-hover-color);
}
.dropdown-menu li a span {
  font-weight: 500;
}

/* Footer CSS */
a {
  text-decoration: none;
  cursor: pointer;
}
footer {
  margin-top: 3rem;
  background: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(50, 50, 50) 0%,
    rgb(0, 0, 0) 99.4%
  );
}

/* Contact-us-banner */
.contact-us-banner img {
  width: 100%;
}

/* Media Query */
@media only screen and (max-width: 480px) {
  html {
    font-size: 10px;
  }
}
@media only screen and (min-width: 480px) {
  html {
    font-size: 12px;
  }
}
@media only screen and (min-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media only screen and (min-width: 920px) {
  html {
    font-size: 16px;
  }
}
